body[data-theme="dark"] {
  --color-toggle: linear-gradient(to top right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --color-bg: hsl(230, 17%, 14%);
  --color-top-bg-pattern: hsl(232, 19%, 15%);
  --color-card-bg: hsl(228, 28%, 20%);
  --color-hr: hsl(228, 25%, 27%);
  --color-text-1: hsl(228, 34%, 66%);
  --color-text-2: hsl(0, 0%, 100%); }

body[data-theme="light"] {
  --color-toggle: linear-gradient(hsl(230, 22%, 74%), hsl(230, 22%, 74%));
  --color-bg: hsl(0, 0%, 100%);
  --color-top-bg-pattern: hsl(225, 100%, 98%);
  --color-card-bg: hsl(227, 47%, 96%);
  --color-hr: hsl(229, 19%, 59%);
  --color-text-1: hsl(228, 12%, 44%);
  --color-text-2: hsl(230, 17%, 14%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 3rem 2.45rem;
  background-color: var(--color-bg);
  color: var(--color-text-1); }
  body::before {
    content: '';
    width: 100%;
    height: 23.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-top-bg-pattern);
    border-radius: 12px;
    z-index: -1; }

.header {
  margin-bottom: 4rem; }
  .header__heading-primary {
    color: var(--color-text-2);
    font-size: 2.4rem;
    margin-bottom: 1rem; }
  .header hr {
    border: 1px solid var(--color-hr);
    margin: 2rem 0; }
  .header__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__switch {
    position: relative; }
    .header__switch input {
      width: 0;
      height: 0;
      display: none;
      visibility: hidden; }
    .header__switch label {
      cursor: pointer;
      display: block;
      text-indent: -9999px;
      height: 24px;
      width: 48px;
      border-radius: 50px;
      background-image: var(--color-toggle);
      transition: all .3s; }
    .header__switch label::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 50px;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      background-color: var(--color-card-bg);
      transition: left .3s; }
    .header__switch input:checked + label::after {
      left: calc(100% - 22px); }
    .header__switch label:hover {
      background-image: linear-gradient(to top right, #378fe6, #3eda82); }

.overall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem; }
  .overall__card {
    background-color: var(--color-card-bg);
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .overall__platform {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem; }
  .overall__username {
    margin-left: 1rem; }
  .overall__number {
    font-size: 5.6rem;
    color: var(--color-text-2); }
  .overall__unit {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px; }
  .overall__today {
    display: flex;
    align-items: center; }
  .overall__today--green {
    color: #1db489; }
